<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee" version="6.0">
  <servlet>
    <description></description>
    <display-name>addEvent</display-name>
    <servlet-name>addEvent</servlet-name>
    <servlet-class>com.eventmanagement.addEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addEvent</servlet-name>
    <url-pattern>/addEvent</url-pattern>
  </servlet-mapping>
  <display-name>eventmanagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>com.eventmanagement.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>storeParticipant</display-name>
    <servlet-name>storeParticipant</servlet-name>
    <servlet-class>com.eventmanagement.storeParticipant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>storeParticipant</servlet-name>
    <url-pattern>/storeParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>transaction</display-name>
    <servlet-name>transaction</servlet-name>
    <servlet-class>com.eventmanagement.transaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transaction</servlet-name>
    <url-pattern>/transaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validatep</display-name>
    <servlet-name>validatep</servlet-name>
    <servlet-class>com.eventmanagement.validatep</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validatep</servlet-name>
    <url-pattern>/validatep</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validateAd</display-name>
    <servlet-name>validateAd</servlet-name>
    <servlet-class>com.eventmanagement.validateAd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validateAd</servlet-name>
    <url-pattern>/validateAd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewEvent</display-name>
    <servlet-name>viewEvent</servlet-name>
    <servlet-class>com.eventmanagement.viewEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewEvent</servlet-name>
    <url-pattern>/viewEvent</url-pattern>
  </servlet-mapping>
</web-app>